@font-face {
    font-family: customfont;
    src:url ("./font_for_exam/CaslonOldFaceRegular.otf") format('opentype');
   }
body {
    padding: 65px;
    font-family: 'customfont';
}

.nav-menu{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nav-menu h2{
    margin-right: 35px;
}
.nav-menu a{
    margin-right: 35px;
    font-size: 20px;
}
body hr{
    margin-top: -2px;
    margin-bottom: -1px;
    border-color:rgba(128, 128, 128, 0.229);
}
nav {
    list-style-type: none;
}
nav a {
    color: black;
    text-decoration: none;
    padding: 14px 10px;
    text-align: center;
}
nav a:hover {
    background-color: #ddd; /* Optional: background color on hover */
    border-radius: 4px;
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 27px;
}
.container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.container div p,h2,button{
    text-align: justify;
    margin-left: 125px;
    margin-right: 115px;
}
.container div h2{
    font-size: 55px;
    margin-bottom: 10px;
    font-weight: lighter;
}
.container button{
    border-style:solid;
    border-radius: 4px;
    border:1px solid rgba(168, 168, 168, 0.49);
    padding: 12px;
    background-color: white;
    color:rgb(117, 117, 117);
    padding-left: 25px;
    padding-right: 25px;
    font-size: 13px;
    transition: 0.5s;
}
.container button:hover{
    background-color: rgb(228, 226, 226);
    transform: scale(1.15);
}
.small_p{
    font-size: 22px;
    margin-top: 0px;
    color: rgb(50, 50, 50);
}
.container img{
    margin-top: 0px;
}
.scnd_container_p{
    font-size:22px;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery h2{
    font-weight: lighter;
    font-size: 55px;
}